<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.standalone.min.css">
    <title>Update Todo</title>
</head>
<body>
<div th:include="fragments/navbar"></div>

<div class="container">
    <h1>Todo Details:</h1>
    <form action="update-todo" th:object="${todo}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <!-- Spring Security CSRF Token-->

        <fieldset class="mt-3 mb-3">
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" required="required" th:field="*{description}">
            <span th:errors="*{description}" class="text-secondary"></span>
        </fieldset>

        <fieldset class="mt-3 mb-3">
            <label for="dueDate">Target Date:</label>
            <input type="text" name="dueDate" id="dueDate" required="required" th:field="*{dueDate}">
        </fieldset>

        <input type="hidden" name="id" th:field="*{id}">
        <input type="hidden" name="username" th:field="*{username}">
        <input type="hidden" name="done" th:field="*{done}">

        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>

<script src="webjars/bootstrap/5.3.1/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.7.1/jquery.min.js"></script>
<script src="webjars/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $('#dueDate').datepicker({
    format: 'yyyy-mm-dd',
    startDate: '0d'
    });
</script>
</body>
</html>