<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.1/css/bootstrap.min.css">
    <title>Update Todo</title>
</head>
<body>
  <div class="container">
    <h1>Todo Details:</h1>
      <form action="update-todo" th:object="${todo}" method="post">
          <label for="description">Description:</label>
          <input type="text" name="description" id="description" required="required" th:field="*{description}">
          <span th:errors="*{description}" class="text-secondary"></span>
          <input type="hidden" name="id" th:field="*{id}">
          <input type="hidden" name="done" th:field="*{done}">
          <input type="submit" value="Submit" class="btn btn-success">
      </form>
  </div>
</body>
</html>