<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.1/css/bootstrap.min.css">
    <title>Welcome Page</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Welcome back, @<span th:text="${name}"></span>!</h1>
        <p>Manage your ToDo List <a href="todos-list">here</a></p>
    </div>
</div>

    <script src="webjars/bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>